<div class="config-wrapper">
  <!-- LEFT SIDE -->
  <div class="configurator-steps config-left" id="configuratorSteps" data-product-id="123456789">

    <!-- BACK BUTTON -->
    <div class="title-back-btn">
      <h1 class="title">
        <a href="/" class="button_back" style="text-decoration:none;color:black;">
          <img src="https://cdn.shopify.com/extensions/019beb25-408f-70b4-9af9-8e2ffef35c2f/dev-1c8b5b1a-7798-4b7e-9065-4707d76812ce/assets/back.jpg">
          Zurück zur Produktauswahl
        </a>
      </h1>
      <hr class="main-sep">
    </div>

    <!-- ALERT -->
    <div class="custom-alert">
      <div class="image-div">
        <img src="https://cdn.shopify.com/extensions/019beb25-408f-70b4-9af9-8e2ffef35c2f/dev-1c8b5b1a-7798-4b7e-9065-4707d76812ce/assets/success.jpg">
      </div>
      <div class="text-div">
        Du hast <b>Nairobi</b> in <b>anthrazit</b> als Stoff ausgewählt!
        Wähle als Nächstes die <b>Befestigung, Maße</b> etc.
      </div>
    </div>

    <!-- 🔥 STEPS WILL BE RENDERED BY JS -->
    <div id="dynamicSteps"></div>

    <!-- FINAL STEP -->
    <div class="config-step is-disabled" data-step="final" id="finalStep">
      <h2>Fertig</h2>

      <table class="final-summary" id="finalSummary"></table>


      <div class="quantity quantity__qty">
        <button class="qty-minus">-</button>
        <span class="qty-value">1</span>
        <button class="qty-plus">+</button>
      </div>

      <button class="primary-btn">IN DEN WARENKORB</button>
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="config-right">

    <!-- ZOOM -->
    <div class="zoom-wrapper">
      <div class="zoom-thumb"
        style="background-image:url('https://cdn.shopify.com/extensions/019beb25-408f-70b4-9af9-8e2ffef35c2f/dev-1c8b5b1a-7798-4b7e-9065-4707d76812ce/assets/123.jpg');">
      </div>

      <div class="zoom-preview"
        style="background-image:url('https://cdn.shopify.com/extensions/019beb25-408f-70b4-9af9-8e2ffef35c2f/dev-1c8b5b1a-7798-4b7e-9065-4707d76812ce/assets/123.jpg');">
      </div>
    </div>

    <!-- SUMMARY -->
    <div class="summary-box" id="summaryBoxAlt">
      <h3>Zusammenfassung</h3>

      <ul id="summaryBoxAltList"></ul>


      <div class="summary-price-versand">
        <div class="summary-price">
          <div><span>Zwischensumme</span><b>—</b></div>
          <div><span>Versand</span><b>kostenlos</b></div>
        </div>
        <div class="total"><span>Gesamt</span><b>—</b></div>
      </div>
    </div>
  </div>
</div>

{{ 'configurator.css' | asset_url | stylesheet_tag }}
{{ 'configurator.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "configurator",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "Product", "autofill": true }
  ]
}
{% endschema %}
